include/minizip/**** linguist-vendored
include/zlib/***** linguist-vendored
include/*.c linguist-detectable=false
include/lzip.hpp linguist-detectable=false
include/miniz.h linguist-detectable=false
include/tinydir.h linguist-detectable=false
